/* This file contains the style specifications for my HelloWorld website.
Author: Caroline Sigl
Date: August 29, 2021
Time spent: 3 hours
Collaborators: n/a */

body {
  background-color: #C5CBE3;
  margin: 12;
  color: #4056A1;
  font-family: "Arial";
  font-weight: bold;
}

header {
  color: #EFE2BA;
  background-color: #F13C20;
  font-family: "Arial Black";
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  padding-left: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
}

span {
  color: #006400;
  font-style: italic;
}

a {
  color: #F13C20;
}

ul{
   list-style:square;
}

blockquote{
  /* margin-left: 400px; */
  /* margin-right: 400px;
  border-style: dotted;
  border-width: 4px;
  border-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px; */
  color: #006400;
  font-style: italic;
  width: 50%;
  height: 50%;
  float: left;
}

.dog{
  color: red;
  width: 50%;
  height: 50%
  float: right;
  align: center;
}

pre{
  width: 50%;
  height: 50%
  float: right;
}
/* css */
