/* This file contains the style specifications for my View Source website.
Author: Caroline Sigl
Date: September 1, 2021
Time spent: 3 hours
Collaborators: n/a */

body {
  background-color: #C5CBE3;
  margin: 12;
  color: #4056A1;
  font-family: "Arial";
  font-weight: bold;
}

header {
  color: #EFE2BA;
  background-color: #F13C20;
  font-family: "Arial Black";
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  padding-left: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
}

h3 {
  color: #006400;
  font-style: italic;
}

a {
  color: #F13C20;
}

ul{
   list-style:square;
}

.dog{
  color: black;
}
